{%extends "base.html" %}

{% block content %}
  <div class="men">
  <div class="header"><h2>Menu</h2></div>
  <div class="menu"></div>
  <div class="content"><h3>Drinks</h3>
      <p>‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎‎ ‎ ‎  ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ S ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎M ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎  L<br><br>

Coffee ..................... £3.50  ‎ ‎ ‎ ‎   £4.00  ‎ ‎ ‎ ‎   £4.50<br>
Cappuccino .............  £4.00 ‎ ‎ ‎ ‎    £4.50   ‎ ‎ ‎ ‎  £5.00<br>
Hot chocolate ..........    £3.75  ‎ ‎ ‎ ‎   £4.25 ‎ ‎ ‎ ‎    £4.75<br>
Tea ..........................  £2.50 ‎ ‎ ‎ ‎    £3.00  ‎ ‎ ‎ ‎   £3.50</p></div>
  <div class="footer"><h3>Milks</h3>
  <p>Skimmed<br>
Semi-skimmed<br>
Oat<br>
No milk
</p>
  <h3> Want a cold drink?</h3>
  <p>All menu items can also be iced for an extra 25p! <br>
Ask the staff for more information.
</p></div>
</div>
{% endblock %}